{
  "openapi": "3.0.3",
  "info": {
    "title": "Base Super App API",
    "description": "RESTful API for the Base Super App - All-in-one business operating system",
    "version": "1.0.0",
    "contact": {
      "name": "API Support",
      "email": "api@baseapp.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.baseapp.com/v1",
      "description": "Production server"
    },
    {
      "url": "https://staging-api.baseapp.com/v1",
      "description": "Staging server"
    },
    {
      "url": "http://localhost:5000/api",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/auth/register": {
      "post": {
        "summary": "Register a new user",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RegisterRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User registered successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Login user",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LoginRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Login successful",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          },
          "401": {
            "description": "Invalid credentials"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "summary": "Refresh access token",
        "tags": ["Authentication"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refreshToken": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Token refreshed"
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "summary": "Logout user",
        "tags": ["Authentication"],
        "responses": {
          "200": {
            "description": "Logout successful"
          }
        }
      }
    },
    "/notifications": {
      "get": {
        "summary": "Get user notifications",
        "tags": ["Notifications"],
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 1
            }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          },
          {
            "name": "unreadOnly",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of notifications",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationList"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Clear all notifications",
        "tags": ["Notifications"],
        "responses": {
          "200": {
            "description": "Notifications cleared"
          }
        }
      }
    },
    "/notifications/unread-count": {
      "get": {
        "summary": "Get unread notification count",
        "tags": ["Notifications"],
        "responses": {
          "200": {
            "description": "Unread count",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "count": {
                      "type": "integer"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/notifications/{id}/read": {
      "put": {
        "summary": "Mark notification as read",
        "tags": ["Notifications"],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Notification marked as read"
          }
        }
      }
    },
    "/notifications/mark-all-read": {
      "put": {
        "summary": "Mark all notifications as read",
        "tags": ["Notifications"],
        "responses": {
          "200": {
            "description": "All notifications marked as read"
          }
        }
      }
    },
    "/notifications/preferences": {
      "get": {
        "summary": "Get notification preferences",
        "tags": ["Notifications"],
        "responses": {
          "200": {
            "description": "User notification preferences",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/NotificationPreferences"
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update notification preferences",
        "tags": ["Notifications"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/NotificationPreferences"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Preferences updated"
          }
        }
      }
    },
    "/notifications/subscribe": {
      "post": {
        "summary": "Subscribe to push notifications",
        "tags": ["Notifications"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "subscription": {
                    "type": "object",
                    "properties": {
                      "endpoint": {
                        "type": "string"
                      },
                      "keys": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Subscribed successfully"
          }
        }
      }
    },
    "/notifications/vapid-key": {
      "get": {
        "summary": "Get VAPID public key for push notifications",
        "tags": ["Notifications"],
        "responses": {
          "200": {
            "description": "VAPID public key",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "publicKey": {
                      "type": "string"
                    },
                    "enabled": {
                      "type": "boolean"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/health": {
      "get": {
        "summary": "Health check endpoint",
        "tags": ["System"],
        "security": [],
        "responses": {
          "200": {
            "description": "System is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          },
          "503": {
            "description": "System is unhealthy"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "RegisterRequest": {
        "type": "object",
        "required": ["email", "password", "firstName", "lastName"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string",
            "minLength": 8
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "phone": {
            "type": "string"
          }
        }
      },
      "LoginRequest": {
        "type": "object",
        "required": ["email", "password"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email"
          },
          "password": {
            "type": "string"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "data": {
            "type": "object",
            "properties": {
              "user": {
                "$ref": "#/components/schemas/User"
              },
              "tokens": {
                "type": "object",
                "properties": {
                  "accessToken": {
                    "type": "string"
                  },
                  "refreshToken": {
                    "type": "string"
                  },
                  "expiresIn": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "firstName": {
            "type": "string"
          },
          "lastName": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "avatarUrl": {
            "type": "string"
          },
          "role": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "suspended", "pending"]
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Notification": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "type": {
            "type": "string",
            "enum": [
              "booking_confirmed",
              "booking_cancelled",
              "payment_received",
              "payment_failed",
              "coi_uploaded",
              "quote_approved",
              "quote_declined",
              "equipment_conflict",
              "mention",
              "system_alert"
            ]
          },
          "title": {
            "type": "string"
          },
          "message": {
            "type": "string"
          },
          "data": {
            "type": "object"
          },
          "priority": {
            "type": "string",
            "enum": ["low", "normal", "high", "urgent"]
          },
          "read": {
            "type": "boolean"
          },
          "readAt": {
            "type": "string",
            "format": "date-time"
          },
          "createdAt": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "NotificationList": {
        "type": "object",
        "properties": {
          "notifications": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Notification"
            }
          },
          "unreadCount": {
            "type": "integer"
          },
          "pagination": {
            "type": "object",
            "properties": {
              "page": {
                "type": "integer"
              },
              "limit": {
                "type": "integer"
              },
              "total": {
                "type": "integer"
              }
            }
          }
        }
      },
      "NotificationPreferences": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "userId": {
            "type": "string",
            "format": "uuid"
          },
          "inapp_booking_confirmed": {
            "type": "boolean"
          },
          "inapp_booking_cancelled": {
            "type": "boolean"
          },
          "inapp_payment_received": {
            "type": "boolean"
          },
          "inapp_payment_failed": {
            "type": "boolean"
          },
          "inapp_coi_uploaded": {
            "type": "boolean"
          },
          "inapp_quote_approved": {
            "type": "boolean"
          },
          "inapp_quote_declined": {
            "type": "boolean"
          },
          "inapp_equipment_conflict": {
            "type": "boolean"
          },
          "inapp_mention": {
            "type": "boolean"
          },
          "inapp_system_alert": {
            "type": "boolean"
          },
          "email_booking_confirmed": {
            "type": "boolean"
          },
          "email_booking_cancelled": {
            "type": "boolean"
          },
          "email_payment_received": {
            "type": "boolean"
          },
          "email_payment_failed": {
            "type": "boolean"
          },
          "email_coi_uploaded": {
            "type": "boolean"
          },
          "email_quote_approved": {
            "type": "boolean"
          },
          "email_quote_declined": {
            "type": "boolean"
          },
          "email_equipment_conflict": {
            "type": "boolean"
          },
          "email_mention": {
            "type": "boolean"
          },
          "email_system_alert": {
            "type": "boolean"
          },
          "push_booking_confirmed": {
            "type": "boolean"
          },
          "push_booking_cancelled": {
            "type": "boolean"
          },
          "push_payment_received": {
            "type": "boolean"
          },
          "push_payment_failed": {
            "type": "boolean"
          },
          "push_coi_uploaded": {
            "type": "boolean"
          },
          "push_quote_approved": {
            "type": "boolean"
          },
          "push_quote_declined": {
            "type": "boolean"
          },
          "push_equipment_conflict": {
            "type": "boolean"
          },
          "push_mention": {
            "type": "boolean"
          },
          "push_system_alert": {
            "type": "boolean"
          },
          "digest_daily_enabled": {
            "type": "boolean"
          },
          "digest_daily_time": {
            "type": "string"
          },
          "digest_weekly_enabled": {
            "type": "boolean"
          },
          "digest_weekly_day": {
            "type": "string"
          },
          "digest_weekly_time": {
            "type": "string"
          },
          "quiet_hours_enabled": {
            "type": "boolean"
          },
          "quiet_hours_start": {
            "type": "string"
          },
          "quiet_hours_end": {
            "type": "string"
          },
          "quiet_hours_timezone": {
            "type": "string"
          }
        }
      },
      "HealthResponse": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean"
          },
          "status": {
            "type": "string"
          },
          "timestamp": {
            "type": "string",
            "format": "date-time"
          },
          "version": {
            "type": "string"
          }
        }
      },
      "Error": {
        "type": "object",
        "properties": {
          "success": {
            "type": "boolean",
            "example": false
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "details": {
                "type": "object"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    }
  }
}
